<ion-header>
  <ion-toolbar class="mi-toolbar">
   <ion-buttons slot="secondary">
 
     
     
   </ion-buttons>         
  </ion-toolbar>
 
 </ion-header>
 
 
 <ion-content class="background ion-padding ">
 
  <div class="ion-text-center">
    <br>
    <br>
    <br>
    
    <h1 style="font-size: 37px; color: #010101;"><strong>Reparaciones</strong></h1>
  </div>



  <div class="boton-grid">
    <button class="boton">Cambio de aceite</button>
    <button class="boton">Frenos</button>
    <button class="boton">Sistema de escape</button>
    <button class="boton">Transmisión</button>
    <button class="boton">Motor</button>
    <button class="boton">Neumáticos</button>
  </div>

    

  <div class=" ion-text-center">
  

  
    
  
    
    

  </div>
  
  
    
  

      

   
 
 
 
  <div class="circle"></div>

  <div class="svg-container">
    <img class="svg" src="../../assets/sport_car3.svg" alt="">
  </div>
  <div class="patron"></div>

 
 </ion-content>