<ion-header>
  <ion-toolbar class="mi-toolbar">
   <ion-buttons slot="secondary">
 
     
     
   </ion-buttons>         
  </ion-toolbar>
 
 </ion-header>
 
 
 <ion-content class="background ion-padding ">
 
  <div class="ion-text-center">
    <br>
    <br>
    <br>
    <h1 style="font-size: 37px; color: #000000;"><strong>Mantenimiento</strong></h1>

    <h3 class="text">Selecciona tu mecánico de confianza</h3>
  </div>

  <div class="cuadritos">
    <ion-button fill="outline">
        <img src="../../assets/mecanico1.png" alt="Mecánico 1" style="height: 40px; width: 40px; margin-left: 0; margin-right: 10px;">
        Mecánico 1
    </ion-button>

    <ion-button fill="outline">
        <img src="../../assets/mecanico1.png" alt="Mecánico 2" style="height: 40px; width: 40px; margin-left: 0; margin-right: 10px;">
        Mecánico 2
    </ion-button>

    <ion-button fill="outline">
        <img src="../../assets/mecanico1.png" alt="Mecánico 3" style="height: 40px; width: 40px; margin-left: 0; margin-right: 10px;">
        Mecánico 3
    </ion-button>

    <ion-button fill="outline">
        <img src="../../assets/mecanico1.png" alt="Mecánico 4" style="height: 40px; width: 40px; margin-left: 0; margin-right: 10px;">
        Mecánico 4
    </ion-button>
</div>

  
  
    
  

      

   
 
 
 
  <div class="circle"></div>

 
  <div class="patron"></div>

 
 </ion-content>